content {
    width: 100%;
}
.head {
    background-color: #F0F0F0;
    border: 1px solid gray;
    line-height: 50px;
    padding: 10px;
    margin-bottom: 10px;
    input {
        height: 30px;
    }
    select {
        height: 30px;
        border-radius: 5px;
        width: 150px;
    }
    .caret {
        padding: 0;
        float: right;
        margin-top: 10px;
    }
    .btn {
        width: 200px;
    }
    .btn-default {
        width: 100px;
        float: right;
        margin-right: 30px;
    }
}
.manage {
    border: 1px solid gray;
    height: 1000px;
    img {
        width: 50px;
    }
    .title {
        height: 50px;
        border-bottom: 1px solid gray;
        line-height: 50px;
        padding: 0 20px 0 20px;
        button {
            float: right;
            height: 30px;
            margin: 10px 20px;
            background-color: #F0F0F0;
            border: 1px solid gray;
            line-height: 30px;
        }
    }
    .detail {
        margin: 10px 15px;
        border: 1px solid gray;
        .list {
            background-color: #F0F0F0;
            height: 50px;
            line-height: 50px;
            border-bottom: 1px solid gray;
            span {
                display: inline-block;
                text-align: center;
            }
        }
        .article {
            height: 80px;
            line-height: 80px;
            border-bottom: 1px solid gray;
            span {
                display: inline-block;
                text-align: center;
            }
        }
    }
}
.imgs {
    width: 50px;
    vertical-align: middle;
    padding: 0 10px;
}
.num {
    width: 50px;
}
.pic {
    width: 70px;
}
.top {
    width: 170px;
}
.type {
    width: 150px;
}
.author {
    width: 70px;
}
.creat {
    width: 100px;
    line-height: 20px;
}
.publish{
    width: 100px;
    line-height: 20px;
}
.status {
    width: 100px;
}