<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport"  content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link href="css/articlelist.css" type="text/css" rel="stylesheet">
    <title>articlelist</title>
</head>
<body>
<content ng-controller="getarticle">
    <div class="head">
        <span>标&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;题</span>
        <input ng-model="seletitle">
        <span>创&nbsp;建&nbsp;者</span>
        <input ng-model="seleauthor">
        <span>修改时间</span>
        <input id="starttime" type="date" ng-model="selestart">
        <span>-</span>
        <input id="endtime" type="date" ng-model="selepublish">
        <br />
        <span>状&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;态</span>
        <select ng-model="selestatus">
            <option value="">全部</option>
            <option value="1">草稿</option>
            <option value="2">上线</option>
        </select>
        <span>类&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;型</span>
        <select id='typenum' ng-model="seletype">
            <option value="">全部</option>
            <option value="0">首页banner</option>
            <option value="1">找职位banner</option>
            <option value="2">找精英banner</option>
            <option value="3">行业大图</option>
        </select>
        <button class="btn btn-default" ng-click="clear()">清空</button>
        <button class="btn btn-default" ng-click="search()">搜索</button>
    </div>
    <div class="manage">
        <div class="title">
            <span>article管理</span>
            <button ui-sref="page3" href="">+新增</button>
        </div>
        <div class="detail">
            <div class="list">
                <span class="num">序号</span>
                <span class="pic">图片</span>
                <span class="top">标题</span>
                <span class="type">类型</span>
                <span class="author">创建者</span>
                <span class="creat">创建时间</span>
                <span class="publish">修改时间</span>
                <span class="status">状态</span>
                <span>操作</span>
            </div>
            <div class="article" ng-repeat="x in article">
                <span class="num">{{$index+1}}</span>
                <img class="imgs" src="{{x.img}}" width="60px" height="50px">
                <span class="top1">{{x.title}}</span>
                <span class="type">{{x.type | typename}}</span>
                <span class="author">{{x.author}}</span>
                <span class="creat">{{x.createAt | date:'yyyy-MM-dd HH:mm:ss' }}</span>
                <span class="publish">{{x.publishat | date:'yyyy-MM-dd HH:mm:ss'}}</span>
                <span class="status">{{x.status=="1" && "草稿" || x.status=="2" && "上线"}}</span>
                <span class="controll">
                    <button class="btn btn-default" ng-click="changeStatus(x.id,x.status)">{{x.status=="1" && "上线" || x.status=="2" && "下线"}}</button>
                    <button class="btn btn-default"  ng-click="addArt(x.id)" href="">编辑</button>
                    <button class="btn btn-default" id="{{x.id}}" ng-click="dele()">删除</button></span>
            </div>
        </div>
        <div class="pages">
            <button class="btn btn-default" ng-click="firstpage()">首页</button>
            <button class="btn btn-default" ng-click="gopre()">上一页</button>
            <input class="pagenum" type="number" ng-blur="direct()" ng-model="page">
            <button class="btn btn-default" ng-click="gonext()">下一页</button>
            <button class="btn btn-default" ng-click="lastpage()">末页</button>

        </div>
    </div>
</content>
</body>
</html>