@import "../_base";
@mixin boxstyle {
    height: 3rem;
    line-height: 3rem;
    background-color: $maincolor;
    width: 70%;
    margin: 1rem 0 1rem 5rem;
    display: inline-block;
    color: $white;
    font-size: 1.6rem;
    text-align: center;

}

body {
    background-color: $bgcolor;
}
.header {
    @include headerStyle;
}
.content {
    padding-top: 4rem;
    .date {
        color: $maincolor;
        font-size: 1.6rem;
        text-align: center;
        height: 3rem;
        line-height: 3rem;
        width: 96%;
        margin: .5rem auto;
        background-color: $white;
        border: 1px solid $lgray;
    }
    .step {
        width: 96%;
        background-color: $white;
        margin: 0 auto;
        border: 1px solid $lgray;
        position: relative;
        .vot {
            height: 3rem;
            width: 100%;
            text-align: center;
            line-height: 3rem;
            font-size: 1.6rem;
            color: gray;
        }
        .night {
            img {
                width: 2rem;
                position: absolute;
                top:1rem;
                left: 1rem;
            }
            div {
                @include boxstyle;
            }
        }
        .daytime {
            img {
                width: 2rem;
                position: absolute;
                top:6.5rem;
                left: 1rem;
            }
            div {
                @include boxstyle;
            }
        }
    }
}
